main {
  max-width: 800px;
  margin-inline: auto;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
header {
  text-align: center;
  margin-bottom: 2rem;
}
.intro {
  text-align: center;
  margin-bottom: 2rem;
}
.focaccia {
  text-align: left;
}
.featured {
  text-align: left;
  color: chocolate;
  border-left: 1px solid #f5db93;
}
.featured p {
  margin-bottom: 0%;
}
.ingredients {
  font-weight: bold;
}
ul li {
  margin-bottom: 25px;
}
.featured a {
  color: blue;
}

header {
  text-align: center;
  margin: 0;
}

header p {
  margin-top: 25px;
  background-color: #fdfbf1;
  border-top: 1px solid #f5db93;
}
header p {
  padding-top: 15px;
}
